p{
    text-align: center;
    font-size: 20px;
}

.taxes{
    text-align:left;
    font-size: 20px;

}

#coupon{
    position: relative;
    vertical-align: left;
    width: 500px;
}

h2{
    text-align: center;
    vertical-align: middle;
}
#checkout{
    position: relative;
    width: 300px;
    height: 150px;
    left: 100px;
    background-color: yellow;
}


.main-container{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    
    width:95%;
    border-radius: 20px;
    
}

input{
    border: white;
    font-size: 20px;
    text-indent: 150px;

}
.checkout{
    outline:5px black;
    border-style:solid;
    flex: 1;
    height: 600px;
    
}

.price{
    padding-top: 50px;
}

table{
    border: 2px black;
    border-spacing: 20px;
   
}
.tbl{
    flex: 0.2;
}
td{
    vertical-align: middle;
}
body{
    background-color: rgb(231, 209, 180);
    
}


.nav-bar {
  display: block;
  overflow: hidden;
  background-color: rgb(139, 206, 228);
  margin: 0 auto;
  width: 100%;
  height: auto;
  
}


.nav-link a {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 5px;
}

#news{
    display: relative;
    left: 0;
}
#cart{
    position: absolute;
    right: 14px;
    top: 93px;
}

